<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeee.crowdfunding.mapper.InitiatorPersonInfoMapper">

    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != '' and id != null">
                and id = #{id}
            </if>
            <if test="projectId != '' and projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="name != '' and name != null">
                and name = #{name}
            </if>
            <if test="idNumber != '' and idNumber != null">
                and id_number = #{idNumber}
            </if>
            <if test="phone != '' and phone != null">
                and phone = #{phone}
            </if>
            <if test="address != '' and address != null">
                and address = #{address}
            </if>
            <if test="idPicFace != '' and idPicFace != null">
                and id_pic_face = #{idPicFace}
            </if>
            <if test="idPicInverse != '' and idPicInverse != null">
                and id_pic_inverse = #{idPicInverse}
            </if>
        </trim>
    </sql>

    <select id="getList" resultType="com.yeeee.crowdfunding.model.entity.InitiatorPersonInfo">
        SELECT
            id,
            project_id,
            name,
            id_number,
            phone,
            address,
            id_pic_face,
            id_pic_inverse
        FROM
            t_initiator_person_info
        <include refid="searchBy"/>
    </select>

    <select id="getOne" resultType="com.yeeee.crowdfunding.model.entity.InitiatorPersonInfo">
        SELECT
            id,
            project_id,
            name,
            id_number,
            phone,
            address,
            id_pic_face,
            id_pic_inverse
        FROM
            t_initiator_person_info
        <include refid="searchBy"/>
        LIMIT 1
    </select>

    <insert id="insert" parameterType="com.yeeee.crowdfunding.model.entity.InitiatorPersonInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_initiator_person_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !='' and id !=null">
                id,
            </if>
            <if test="projectId !='' and projectId !=null">
                project_id,
            </if>
            <if test="name !='' and name !=null">
                name,
            </if>
            <if test="idNumber !='' and idNumber !=null">
                id_number,
            </if>
            <if test="phone !='' and phone !=null">
                phone,
            </if>
            <if test="address !='' and address !=null">
                address,
            </if>
            <if test="idPicFace !='' and idPicFace !=null">
                id_pic_face,
            </if>
            <if test="idPicInverse !='' and idPicInverse !=null">
                id_pic_inverse
            </if>
        </trim>
        VALUE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != '' and id != null">
                #{id},
            </if>
            <if test="projectId != '' and projectId != null">
                #{projectId},
            </if>
            <if test="name != '' and name != null">
                #{name},
            </if>
            <if test="idNumber != '' and idNumber != null">
                #{idNumber},
            </if>
            <if test="phone != '' and phone != null">
                #{phone},
            </if>
            <if test="address != '' and address != null">
                #{address},
            </if>
            <if test="idPicFace != '' and idPicFace != null">
                #{idPicFace},
            </if>
            <if test="idPicInverse != '' and idPicInverse != null">
                #{idPicInverse}
            </if>
        </trim>
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yeeee.crowdfunding.model.entity.InitiatorPersonInfo">
        UPDATE t_initiator_person_info
        <trim prefix="set" suffixOverrides=",">
            <if test="projectId != '' and projectId != null">
                project_id = #{projectId},
            </if>
            <if test="name != '' and name != null">
                name = #{name},
            </if>
            <if test="idNumber != '' and idNumber != null">
                id_number = #{idNumber},
            </if>
            <if test="phone != '' and phone != null">
                phone = #{phone},
            </if>
            <if test="address != '' and address != null">
                address = #{address},
            </if>
            <if test="idPicFace != '' and idPicFace != null">
                id_pic_face = #{idPicFace},
            </if>
            <if test="idPicInverse != '' and idPicInverse != null">
                id_pic_inverse = #{idPicInverse}
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_initiator_person_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,project_id,name,id_number,phone,address,id_pic_face,id_pic_inverse,
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},#{item.projectId},#{item.name},#{item.idNumber},#{item.phone},#{item.address},#{item.idPicFace},#{item.idPicInverse},
            </trim>
        </foreach>
    </insert >

</mapper>
