<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeee.crowdfunding.mapper.ReceiveInformationMapper">

    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != '' and id != null">
                and id = #{id}
            </if>
            <if test="userId != '' and userId != null">
                and user_id = #{userId}
            </if>
            <if test="receiver != '' and receiver != null">
                and receiver = #{receiver}
            </if>
            <if test="phone != '' and phone != null">
                and phone = #{phone}
            </if>
            <if test="address != '' and address != null">
                and address = #{address}
            </if>
            <if test="setDefault != null">
                and set_default = #{setDefault}
            </if>
        </trim>
    </sql>

    <select id="getList" resultType="com.yeeee.crowdfunding.model.entity.ReceiveInformation">
        SELECT
            id,
            user_id,
            receiver,
            phone,
            address,
            set_default
        FROM
            t_receive_information
        <include refid="searchBy"/>
        ORDER BY ID DESC
    </select>

    <select id="getOne" resultType="com.yeeee.crowdfunding.model.entity.ReceiveInformation">
        SELECT
            id,
            user_id,
            receiver,
            phone,
            address,
            set_default
        FROM
            t_receive_information
        <include refid="searchBy"/>
        ORDER BY ID DESC
        LIMIT 1
    </select>

    <insert id="insert" parameterType="com.yeeee.crowdfunding.model.entity.ReceiveInformation" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_receive_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !='' and id !=null">
                id,
            </if>
            <if test="userId !='' and userId !=null">
                user_id,
            </if>
            <if test="receiver !='' and receiver !=null">
                receiver,
            </if>
            <if test="phone !='' and phone !=null">
                phone,
            </if>
            <if test="address !='' and address !=null">
                address,
            </if>
            <if test="setDefault !=null">
                set_default
            </if>
        </trim>
        VALUE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != '' and id != null">
                #{id},
            </if>
            <if test="userId != '' and userId != null">
                #{userId},
            </if>
            <if test="receiver != '' and receiver != null">
                #{receiver},
            </if>
            <if test="phone != '' and phone != null">
                #{phone},
            </if>
            <if test="address != '' and address != null">
                #{address},
            </if>
            <if test="setDefault != null">
                #{setDefault}
            </if>
        </trim>
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yeeee.crowdfunding.model.entity.ReceiveInformation">
        UPDATE t_receive_information
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != '' and userId != null">
                user_id = #{userId},
            </if>
            <if test="receiver != '' and receiver != null">
                receiver = #{receiver},
            </if>
            <if test="phone != '' and phone != null">
                phone = #{phone},
            </if>
            <if test="address != '' and address != null">
                address = #{address},
            </if>
            <if test="setDefault != null">
                set_default = #{setDefault}
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_receive_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,user_id,receiver,phone,address,set_default,
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},#{item.userId},#{item.receiver},#{item.phone},#{item.address},#{item.setDefault},
            </trim>
        </foreach>
    </insert >

</mapper>
