<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeee.crowdfunding.mapper.SysRoleMapper">

    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != '' and id != null">
                and id = #{id}
            </if>
            <if test="code != '' and code != null">
                and code = #{code}
            </if>
            <if test="name != '' and name != null">
                and name = #{name}
            </if>
            <if test="status != '' and status != null">
                and status = #{status}
            </if>
            <if test="remark != '' and remark != null">
                and remark = #{remark}
            </if>
            <if test="createBy != '' and createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="createTime != '' and createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != '' and updateBy != null">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != '' and updateTime != null">
                and update_time = #{updateTime}
            </if>
        </trim>
    </sql>

    <select id="getList" resultType="com.yeeee.crowdfunding.model.entity.SysRole">
        SELECT
            id,
            code,
            name,
            status,
            remark,
            create_by,
            create_time,
            update_by,
            update_time
        FROM
            sys_role
        <include refid="searchBy"/>
    </select>

    <select id="getOne" resultType="com.yeeee.crowdfunding.model.entity.SysRole">
        SELECT
            id,
            code,
            name,
            status,
            remark,
            create_by,
            create_time,
            update_by,
            update_time
        FROM
            sys_role
        <include refid="searchBy"/>
        LIMIT 1
    </select>

    <update id="updateByPrimaryKey" parameterType="com.yeeee.crowdfunding.model.entity.SysRole">
        UPDATE sys_role
        <trim prefix="set" suffixOverrides=",">
            <if test="code != '' and code != null">
                code = #{code},
            </if>
            <if test="name != '' and name != null">
                name = #{name},
            </if>
            <if test="status != '' and status != null">
                status = #{status},
            </if>
            <if test="remark != '' and remark != null">
                remark = #{remark},
            </if>
            <if test="createBy != '' and createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != '' and createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != '' and updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != '' and updateTime != null">
                update_time = #{updateTime}
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,code,name,status,remark,create_by,create_time,update_by,update_time,
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},#{item.code},#{item.name},#{item.status},#{item.remark},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},
            </trim>
        </foreach>
    </insert >

</mapper>
