<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeee.crowdfunding.mapper.SysRoleMenuMapper">

    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != '' and id != null">
                and id = #{id}
            </if>
            <if test="roleId != '' and roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="menuId != '' and menuId != null">
                and menu_id = #{menuId}
            </if>
            <if test="remark != '' and remark != null">
                and remark = #{remark}
            </if>
            <if test="createTime != '' and createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="createBy != '' and createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="updateTime != '' and updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="updateBy != '' and updateBy != null">
                and update_by = #{updateBy}
            </if>
        </trim>
    </sql>

    <select id="getList" resultType="com.yeeee.crowdfunding.model.entity.SysRoleMenu">
        SELECT
            id,
            role_id,
            menu_id,
            remark,
            create_time,
            create_by,
            update_time,
            update_by
        FROM
            sys_role_menu
        <include refid="searchBy"/>
    </select>

    <select id="getOne" resultType="com.yeeee.crowdfunding.model.entity.SysRoleMenu">
        SELECT
            id,
            role_id,
            menu_id,
            remark,
            create_time,
            create_by,
            update_time,
            update_by
        FROM
            sys_role_menu
        <include refid="searchBy"/>
        LIMIT 1
    </select>

    <insert id="insert" parameterType="com.yeeee.crowdfunding.model.entity.SysRoleMenu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !='' and id !=null">
                id,
            </if>
            <if test="roleId !='' and roleId !=null">
                role_id,
            </if>
            <if test="menuId !='' and menuId !=null">
                menu_id,
            </if>
            <if test="remark !='' and remark !=null">
                remark,
            </if>
            <if test="createTime !='' and createTime !=null">
                create_time,
            </if>
            <if test="createBy !='' and createBy !=null">
                create_by,
            </if>
            <if test="updateTime !='' and updateTime !=null">
                update_time,
            </if>
            <if test="updateBy !='' and updateBy !=null">
                update_by
            </if>
        </trim>
        VALUE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != '' and id != null">
                #{id},
            </if>
            <if test="roleId != '' and roleId != null">
                #{roleId},
            </if>
            <if test="menuId != '' and menuId != null">
                #{menuId},
            </if>
            <if test="remark != '' and remark != null">
                #{remark},
            </if>
            <if test="createTime != '' and createTime != null">
                #{createTime},
            </if>
            <if test="createBy != '' and createBy != null">
                #{createBy},
            </if>
            <if test="updateTime != '' and updateTime != null">
                #{updateTime},
            </if>
            <if test="updateBy != '' and updateBy != null">
                #{updateBy}
            </if>
        </trim>
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yeeee.crowdfunding.model.entity.SysRoleMenu">
        UPDATE sys_role_menu
        <trim prefix="set" suffixOverrides=",">
            <if test="id != '' and id != null">
                id = #{id},
            </if>
            <if test="roleId != '' and roleId != null">
                role_id = #{roleId},
            </if>
            <if test="menuId != '' and menuId != null">
                menu_id = #{menuId},
            </if>
            <if test="remark != '' and remark != null">
                remark = #{remark},
            </if>
            <if test="createTime != '' and createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createBy != '' and createBy != null">
                create_by = #{createBy},
            </if>
            <if test="updateTime != '' and updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateBy != '' and updateBy != null">
                update_by = #{updateBy}
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,role_id,menu_id,remark,create_time,create_by,update_time,update_by,
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},#{item.roleId},#{item.menuId},#{item.remark},#{item.createTime},#{item.createBy},#{item.updateTime},#{item.updateBy},
            </trim>
        </foreach>
    </insert >

</mapper>
