<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeee.crowdfunding.mapper.SysUserOprLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yeeee.crowdfunding.model.entity.SysUserOprLog">
        <id column="id" property="id" />
        <result column="route_path" property="routePath" />
        <result column="browser" property="browser" />
        <result column="ip_address" property="ipAddress" />
        <result column="ip_location" property="ipLocation" />
        <result column="method" property="method" />
        <result column="url" property="url" />
        <result column="description" property="description" />
        <result column="access_params" property="accessParams" />
        <result column="access_time" property="accessTime" />
        <result column="access_result" property="accessResult" />
        <result column="error_message" property="errorMessage" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
