<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeee.crowdfunding.mapper.SysUserRoleMapper">

    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != '' and id != null">
                and id = #{id}
            </if>
            <if test="userId != '' and userId != null">
                and user_id = #{userId}
            </if>
            <if test="roleId != '' and roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="createBy != '' and createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="createTime != '' and createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != '' and updateBy != null">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != '' and updateTime != null">
                and update_time = #{updateTime}
            </if>
        </trim>
    </sql>

    <select id="getList" resultType="com.yeeee.crowdfunding.model.entity.SysUserRole">
        SELECT
            id,
            user_id,
            role_id,
            create_by,
            create_time,
            update_by,
            update_time
        FROM
            sys_user_role
        <include refid="searchBy"/>
    </select>

    <select id="getOne" resultType="com.yeeee.crowdfunding.model.entity.SysUserRole">
        SELECT
            id,
            user_id,
            role_id,
            create_by,
            create_time,
            update_by,
            update_time
        FROM
            sys_user_role
        <include refid="searchBy"/>
        LIMIT 1
    </select>

    <insert id="insert" parameterType="com.yeeee.crowdfunding.model.entity.SysUserRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !='' and id !=null">
                id,
            </if>
            <if test="userId !='' and userId !=null">
                user_id,
            </if>
            <if test="roleId !='' and roleId !=null">
                role_id,
            </if>
            <if test="createBy !='' and createBy !=null">
                create_by,
            </if>
            <if test="createTime !='' and createTime !=null">
                create_time,
            </if>
            <if test="updateBy !='' and updateBy !=null">
                update_by,
            </if>
            <if test="updateTime !='' and updateTime !=null">
                update_time
            </if>
        </trim>
        VALUE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != '' and id != null">
                #{id},
            </if>
            <if test="userId != '' and userId != null">
                #{userId},
            </if>
            <if test="roleId != '' and roleId != null">
                #{roleId},
            </if>
            <if test="createBy != '' and createBy != null">
                #{createBy},
            </if>
            <if test="createTime != '' and createTime != null">
                #{createTime},
            </if>
            <if test="updateBy != '' and updateBy != null">
                #{updateBy},
            </if>
            <if test="updateTime != '' and updateTime != null">
                #{updateTime}
            </if>
        </trim>
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yeeee.crowdfunding.model.entity.SysUserRole">
        UPDATE sys_user_role
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != '' and userId != null">
                user_id = #{userId},
            </if>
            <if test="roleId != '' and roleId != null">
                role_id = #{roleId},
            </if>
            <if test="createBy != '' and createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != '' and createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != '' and updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != '' and updateTime != null">
                update_time = #{updateTime}
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,user_id,role_id,create_by,create_time,update_by,update_time,
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},#{item.userId},#{item.roleId},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime},
            </trim>
        </foreach>
    </insert >

</mapper>
