<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeeee.crowdfunding.mapper.SysUserMapper">

    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="id != '' and id != null">
                and id = #{id}
            </if>
            <if test="username != '' and username != null">
                and username = #{username}
            </if>
            <if test="password != '' and password != null">
                and password = #{password}
            </if>
            <if test="nickName != '' and nickName != null">
                and nick_name = #{nickName}
            </if>
            <if test="email != '' and email != null">
                and email = #{email}
            </if>
            <if test="phone != '' and phone != null">
                and phone = #{phone}
            </if>
            <if test="sex != '' and sex != null">
                and sex = #{sex}
            </if>
            <if test="avatar != '' and avatar != null">
                and avatar = #{avatar}
            </if>
            <if test="deptId != '' and deptId != null">
                and dept_id = #{deptId}
            </if>
            <if test="jobId != '' and jobId != null">
                and job_id = #{jobId}
            </if>
            <if test="state != '' and state != null">
                and state = #{state}
            </if>
            <if test="lastLoginTime != '' and lastLoginTime != null">
                and last_login_time = #{lastLoginTime}
            </if>
            <if test="createTime != '' and createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != '' and updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="createBy != '' and createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="updateBy != '' and updateBy != null">
                and update_by = #{updateBy}
            </if>
            <if test="remark != '' and remark != null">
                and remark = #{remark}
            </if>
            <if test="superAdmin != '' and superAdmin != null">
                and super_admin = #{superAdmin}
            </if>
        </trim>
    </sql>

    <select id="getList" resultType="com.yeeee.crowdfunding.model.entity.SysUser">
        SELECT
            id,
            username,
            password,
            nick_name,
            email,
            phone,
            sex,
            avatar,
            dept_id,
            job_id,
            state,
            last_login_time,
            create_time,
            update_time,
            create_by,
            update_by,
            remark,
            super_admin
        FROM
            sys_user
        <include refid="searchBy"/>
    </select>

    <select id="getOne" resultType="com.yeeee.crowdfunding.model.entity.SysUser">
        SELECT
            id,
            username,
            password,
            nick_name,
            email,
            phone,
            sex,
            avatar,
            dept_id,
            job_id,
            state,
            last_login_time,
            create_time,
            update_time,
            create_by,
            update_by,
            remark,
            super_admin
        FROM
            sys_user
        <include refid="searchBy"/>
        LIMIT 1
    </select>

    <insert id="insert" parameterType="com.yeeee.crowdfunding.model.entity.SysUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !='' and id !=null">
                id,
            </if>
            <if test="username !='' and username !=null">
                username,
            </if>
            <if test="password !='' and password !=null">
                password,
            </if>
            <if test="nickName !='' and nickName !=null">
                nick_name,
            </if>
            <if test="email !='' and email !=null">
                email,
            </if>
            <if test="phone !='' and phone !=null">
                phone,
            </if>
            <if test="sex !='' and sex !=null">
                sex,
            </if>
            <if test="avatar !='' and avatar !=null">
                avatar,
            </if>
            <if test="deptId !='' and deptId !=null">
                dept_id,
            </if>
            <if test="jobId !='' and jobId !=null">
                job_id,
            </if>
            <if test="state !='' and state !=null">
                state,
            </if>
            <if test="lastLoginTime !='' and lastLoginTime !=null">
                last_login_time,
            </if>
            <if test="createTime !='' and createTime !=null">
                create_time,
            </if>
            <if test="updateTime !='' and updateTime !=null">
                update_time,
            </if>
            <if test="createBy !='' and createBy !=null">
                create_by,
            </if>
            <if test="updateBy !='' and updateBy !=null">
                update_by,
            </if>
            <if test="remark !='' and remark !=null">
                remark,
            </if>
            <if test="superAdmin !='' and superAdmin !=null">
                super_admin
            </if>
        </trim>
        VALUE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != '' and id != null">
                #{id},
            </if>
            <if test="username != '' and username != null">
                #{username},
            </if>
            <if test="password != '' and password != null">
                #{password},
            </if>
            <if test="nickName != '' and nickName != null">
                #{nickName},
            </if>
            <if test="email != '' and email != null">
                #{email},
            </if>
            <if test="phone != '' and phone != null">
                #{phone},
            </if>
            <if test="sex != '' and sex != null">
                #{sex},
            </if>
            <if test="avatar != '' and avatar != null">
                #{avatar},
            </if>
            <if test="deptId != '' and deptId != null">
                #{deptId},
            </if>
            <if test="jobId != '' and jobId != null">
                #{jobId},
            </if>
            <if test="state != '' and state != null">
                #{state},
            </if>
            <if test="lastLoginTime != '' and lastLoginTime != null">
                #{lastLoginTime},
            </if>
            <if test="createTime != '' and createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != '' and updateTime != null">
                #{updateTime},
            </if>
            <if test="createBy != '' and createBy != null">
                #{createBy},
            </if>
            <if test="updateBy != '' and updateBy != null">
                #{updateBy},
            </if>
            <if test="remark != '' and remark != null">
                #{remark},
            </if>
            <if test="superAdmin != '' and superAdmin != null">
                #{superAdmin}
            </if>
        </trim>
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yeeee.crowdfunding.model.entity.SysUser">
        UPDATE sys_user
        <trim prefix="set" suffixOverrides=",">
            <if test="username != '' and username != null">
                username = #{username},
            </if>
            <if test="password != '' and password != null">
                password = #{password},
            </if>
            <if test="nickName != '' and nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="email != '' and email != null">
                email = #{email},
            </if>
            <if test="phone != '' and phone != null">
                phone = #{phone},
            </if>
            <if test="sex != '' and sex != null">
                sex = #{sex},
            </if>
            <if test="avatar != '' and avatar != null">
                avatar = #{avatar},
            </if>
            <if test="deptId != '' and deptId != null">
                dept_id = #{deptId},
            </if>
            <if test="jobId != '' and jobId != null">
                job_id = #{jobId},
            </if>
            <if test="state != '' and state != null">
                state = #{state},
            </if>
            <if test="lastLoginTime != '' and lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="createTime != '' and createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != '' and updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createBy != '' and createBy != null">
                create_by = #{createBy},
            </if>
            <if test="updateBy != '' and updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="remark != '' and remark != null">
                remark = #{remark},
            </if>
            <if test="superAdmin != '' and superAdmin != null">
                super_admin = #{superAdmin}
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,username,password,nick_name,email,phone,sex,avatar,dept_id,job_id,state,last_login_time,create_time,update_time,create_by,update_by,remark,super_admin,
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.id},#{item.username},#{item.password},#{item.nickName},#{item.email},#{item.phone},#{item.sex},#{item.avatar},#{item.deptId},#{item.jobId},#{item.state},#{item.lastLoginTime},#{item.createTime},#{item.updateTime},#{item.createBy},#{item.updateBy},#{item.remark},#{item.superAdmin},
            </trim>
        </foreach>
    </insert >

</mapper>
